<h3>{{name}}</h3>

<h4>Next Question</h4>
{{nextQuestion.question}}
<button {{action markAnswered nextQuestion}}>Mark as Answered</button>
<p>{{link-to 'Edit' 'surveys.edit' this}} <button {{action destroyRecord this}}>Destroy</button></p>
